.color-info{
  /* or div{...} */
  border: 3px solid black;
}

#about_blue{
  background-color: #6495ED;
}

#about_yellow{
  background-color: #FFEBCD;
}

#about_blue ul li{
    color: blue;
}

#about_yellow ul li{
    color: orange;
}

.important{
    size: 16px;
    font-weight: bold;
}

ul li a{
  /* .nav*/
  background-color: red;
  color: white;
}
